{{!-- all -- using for each to parse what is in blogpost object --}}
{{#each blog_posts as |post|}}
<div class="blog-cards-container">
<div class="blogpost-card">
  <div>
    <!-- -->
    <h2 class="blogpost-card-header">
      {{post.title}}
      <h3>{{post.user.username}}</h3>
      <h4> {{format_date post.date_updated}} {{format_time post.date_updated}}</h4>
      <p>{{post.contents}} </p>
  </div>
</div>
</div>
{{/each}}