   {{!-- for each to parse what is in blodpost object --}}
 <div class="blogpost-card">
   <div class="dish col-md-5">
      <!-- -->
      <p>
        {{post.title}}
        {{post.user.username}}
        {{post.date_updated}}
        {{post.contents}}
      </p>
        {{#each post.comments as |comment|}}
      <p>
        {{comment.date_updated}}
        {{comment.contents}}
      </p>
      {{/each}}
    </div>
  </div>
 
